<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Hello · Phoenix Framework</title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
  </head>
  <body>
    <header>
      <section class="container">
        <nav role="navigation">
          <nav>
            <%# <li><a href="https://hexdocs.pm/phoenix/overview.html">Get Started</a></li> %>
            <div><span style="margin-right: 7em; font-size: 1.5em;"><%= link "Home", to: Routes.hello_path(@conn, :index) %></span></div>
          </nav>
        </nav>
        <a href="http://phoenixframework.org/" class="phx-logo">
          <img src="<%= Routes.static_path(@conn, "/images/phoenix.png") %>" alt="Phoenix Framework Logo"/>
        </a>
      </section>
    </header>
    <main role="main" class="container" style="margin-bottom:10%;">
      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
      <%= render @view_module, @view_template, assigns %>
    
      <h2 style="margin-top:1em";>Pages</h2>
        <div><span><%= link "CMS Pages Index", to: Routes.cms_page_path(@conn, :index)%></span></div>
        <div><span><%= link "CMS Authors Index", to: Routes.cms_author_path(@conn, :index)%></span></div>
      </div>
      <h2 style="margin-top:1em;">Users</h2>
        <div><span><%= link "Users Index", to: Routes.user_path(@conn, :index) %></span></div>
      </div>
      <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
    </main>
  </body>
</html>
